<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 class="display-1 text-center mt-4"> <strong>Contato</strong></h1>
            <p class="text-center mt-4">Crie ou edite um contato abaixo:</p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <%- include('includes/messages')%>

    <div class="col-lg">
        <input type="hidden" name="_csrf" value=<%= csrftoken %>>
        <h2>Insira os dados:</h2>

        <% if (contato._id) { %>  
            <form action="/contato/edit/<%= contato._id %>" method="POST">
        <% } else { %>
            <form class="form-contato" action="/contato/register" method="POST">
        <% } %>
        <form action="/contato/register" method="POST">
            <div class="form-group">
                <label>Nome:</label>
                <input value="<%= contato.nome %>" type="text" class="form-control" name="nome">
            </div>
            <div class="form-group">
                <label>Sobrenome:</label>
                <input value="<%= contato.sobrenome %>" type="text" class="form-control" name="sobrenome">
            </div>
            <div class="form-group">
                <label>E-mail:</label>
                <input value="<%= contato.email %>" type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Telefone:</label>
                <input value="<%= contato.telefone %>" type="tel" class="form-control" name="telefone">
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>

</div>

<%- include('includes/footer')%>
