<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 class="display-1 text-center mt-4"> <strong>Agenda</strong></h1>
            <p class="text-center mt-4">Seus Contatos estão abaixo:</p>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <%- include('includes/messages')%>

    <% if (contatos.length > 0) { %>
    <div class="responsive-table">
        <table class="table mt-4">
            <% contatos.forEach(contato => {%>
                <tr>
                    <td class="text-center"><%= contato.nome %></td>
                    <td class="text-center"><%= contato.sobrenome %></td>
                    <td class="text-center"><%= contato.telefone %></td>
                    <td class="text-center"><%= contato.email %></td>
                    <td class="text-center"><a href="/contato/edit/<%= contato._id %>">Editar</a></td>
                    <td class="text-center"><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>
            <% }); %>
        </table>
    </div>
    <% } else { %>
        <p class="text-center lead"><b>Ainda não há contatos =(</b></p>
    <% } %>
</div>

<%- include('includes/footer')%>
